{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": "> 0.1% or not dead",
          "esmodules": false
        },
        "useBuiltIns": false
      }
    ],
    "@babel/preset-typescript"
  ],
  "plugins": [
    "css-modules-transform",
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread",
    [
      "@babel/plugin-transform-runtime",
      {
        "corejs": 3
      }
    ]
  ],
  "exclude": ["**/node_modules/**"],
  "env": {
    "test": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": "maintained node versions"
          }
        ]
      ]
    },
    "test-cov": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": "maintained node versions"
          }
        ]
      ],
      "plugins": ["istanbul"]
    }
  }
}
