# npm files
node_modules
npm-debug.log

# ide or system files
.idea
.c9
*.iml
.project
.settings/
.directory
.vscode

# temporary files
.*.sw[op]
.commits.tmp
gen/
.nyc_output/
coverage/
.rpt2_cache

# built files
/cypress/e2e/**/*.js
/cypress/e2e/**/*.js.map
/cypress/fixtures/**/*.js
/cypress/fixtures/**/*.js.map
/cypress/pages/**/*.js
/cypress/pages/**/*.js.map
/cypress/screenshots/
/cypress/snapshots/
/cypress/support/**/*.js
/cypress/support/**/*.js.map
/cypress/videos/
/declarations/
/dist/
/esnext/
/examples/examples.css
/examples/index.html
/examples/static/
/examples/thumbnails/
/peer/
/standalone/
/styles/
vis-network-*.tgz
