# vis.js files
dist/

# yarn files
yarn-error.log

# npm files
node_modules
npm-debug.log
package-lock.json

# ide or system files
.idea
.c9
*.iml
.project
.settings/
.directory

# temporary files
.*.sw[op]
.commits.tmp
gen/
.nyc_output/
coverage/
package-lock.json
